		
	</div>
		<footer class="footer">
        	<div class="container">
         
	            <div class="copy text-center">
	               Copyright 2017 <a href='#'>WorkOrderApp</a>
	            </div>
            
        	</div>
    	</footer>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://code.jquery.com/jquery.js"></script>

	    <!-- jQuery UI -->
	    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

		<link href="/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen">
		
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/js/bootstrap.min.js"></script>

	    <script src="/vendors/datatables/js/jquery.dataTables.min.js"></script>

	    <script src="/vendors/datatables/dataTables.bootstrap.js"></script>

	    <script src="/js/custom.js"></script>
	    <script src="/js/tables.js"></script>

	    <!-- Bootstrap -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	    <script>
		// Get the Sidebar
		var mySidebar = document.getElementById("mySidebar");

		// Get the DIV with overlay effect
		var overlayBg = document.getElementById("myOverlay");

		// Toggle between showing and hiding the sidebar, and add overlay effect
		function w3_open() {
		    if (mySidebar.style.display === 'block') {
		        mySidebar.style.display = 'none';
		        overlayBg.style.display = "none";
		    } else {
		        mySidebar.style.display = 'block';
		        overlayBg.style.display = "block";
		    }
		}

		// Close the sidebar with the close button
		function w3_close() {
		    mySidebar.style.display = "none";
		    overlayBg.style.display = "none";
		}
		</script>
	</body>
</html>