<% include partials/header_0 %>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Ryan
            <span class="text-primary">King</span>
          </h1>
          <div class="subheading mb-5">406 Zachary Way Grantsville, UT 84029 · (435) 224-3500 ·
            <a href="mailto:ryking@tooeleschools.org">ryking@tooeleschools.org</a>
          </div>
          <br>
          <p class="mb-5">Technology minded maintenance technician with 5+ years of experience focusing on integrating new technology into existing mechanical systems. Effective communicator, patient, and willing to assist in any way to better the company.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/rking2002">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/ryan-king-04a37515a/?trk=onboarding-landing&dl=no">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/ryki2658?tab=repositories">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Maintenance</h3>
              <div class="subheading mb-3">Tooele county school district</div>
              <p>As a maintenance employee I performed a variety of maintenance work on all district property including maintaining the computer control systems. I work with several different control software programs used to operate and diagnose issues with mechanical systems throughout the district. I also create and manage card access door security cards with Bosch Access Easy and INET software. As well as using the programs, I Install and maintain INET work stations at remote sites throughout the district. Setup INET permissions for each custodian based on their skill level with the software. Recently I’ve been focusing on backing up outdated Windows XP INET systems and updating them to more secure Windows 7 systems.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2012 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Project Manager</h3>
              <div class="subheading mb-3">Castle Mountain Construction</div>
              <p>New construction framing, remodel and renovation work. Duties included reading plans, ordering materials for different jobs, pull permits, schedule inspections, coordinate with  homeowners and subcontractors to maintain deadlines and complete projects on time and on budget. I was responsible to effectively manage a crew of  5-9 employees with varying skill levels and backgrounds.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2005 - 2012</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">MSN Tech Support</h3>
              <div class="subheading mb-3">Teleperformance</div>
              <p>Working in a call center environment as a MSN technical support technician. Job duties included walking users through setup of software, email accounts and troubleshooting connectivity issues. It was also expected that employees keep up to date with known software issues and service problems related to the MSN family of software.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2003 - 2005</span>
            </div>
          </div>
        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-less"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-npm"></i>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>I am well versed in many operating systems including Windows 9.x through 10 and macOS. I also am familiar with Linux and Windows Server operating systems as well being comfortable in a command line and terminal environments. I have a basic working understanding of several programming languages including: C, Python, Java Script, Node JS, HTML, CSS, Bootstrap and SQL.
          Apart computer science, I enjoy most of my time being outdoors. I enjoy mountain biking, hiking, and kayaking.</p>
        </div>
      </section>
    </div>

  <% include partials/footer %>