<% include partials/header_1 %>

  <div class="col-md-12" style="padding-top: 10px">
    <div class="row">
      <div class="well well-sm">
        <legend class="text-center"> <i class="fa fa-plus"></i>Add New pickup</legend>

        <form class="form-horizontal" action="/pickup/add" method="POST">
          <fieldset>
            
            <!-- Location input-->
            <div class="form-group">
              <label class="col-md-4">Pickup</label>
              <div class="col-md-12">
                <input class="form-control" name="pickup_location" type="text" placeholder="Name of company" >
              </div>
            </div>
                
            <!-- Description body -->
            <div class="form-group">
              <label class="col-md-4">Address</label>
              <div class="col-md-12">
                <textarea class="form-control" name="pickup_details" placeholder="Address and aditional details..." rows="5"></textarea>
              </div>
            </div>

            <!-- Paid body -->
            <div class="form-group">
              <label class="col-md-4">Paid</label>
              <div class="col-md-12">
                <textarea class="form-control" name="pickup_paid" placeholder="Is it paid for?.. by whom?..." rows="1"></textarea>
              </div>
            </div>

            <!-- Location input-->
            <div class="form-group">
              <label class="col-md-4">P.O.</label>
              <div class="col-md-12">
                <select class="form-control" name="pickup_po">
                  <option value=""></option>
                  <option value="ASE">ASE</option>
                  <option value="BPH">BPH</option>
                  <option value="BG">BG</option>
                  <option value="CNJHS">CNJHS</option>
                  <option value="CLC">CLC</option>
                  <option value="CCE">CCE</option>
                  <option value="D.O.">D.O.</option>
                  <option value="DHS">DHS</option>
                  <option value="ELC">ELC</option>
                  <option value="FS">FS</option>
                  <option value="GES">GES</option>
                  <option value="GHS">GHS</option>
                  <option value="GJHS">GJHS</option>
                  <option value="IE">IE</option>
                  <option value="MCE">MCE</option>
                  <option value="NLE">NLE</option>
                  <option value="OME">OME</option>
                  <option value="OLE">OLE</option>
                  <option value="RSE">RSE</option>
                  <option value="SCE">SCE</option>
                  <option value="Shop">Shop</option>
                  <option value="SHS">SHS</option>
                  <option value="SPE">SPE</option>
                  <option value="SES">SES</option>
                  <option value="THS">THS</option>
                  <option value="TJHS">TJHS</option>
                  <option value="VES">VES</option>
                  <option value="WHS">WHS</option>
                  <option value="West">West</option>
                  <option value="Willow">Willow</option>
                </select>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" value="execute">Add Item</button>
                <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" />
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
  