<% include partials/header_1 %>
<!-- !PAGE CONTENT! -->

<header class="w3-container">
    <h5 class="text-center" style="padding-top:20px;"><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
</header>
<br>
<div class="col-md-12">
    <div class="row">
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
              <div class="w3-container w3-blue w3-padding-16">
                <a href="../tables">
                  <div class="w3-left"><i class="fa fa-list-alt w3-xxxlarge"></i></div>
                  <div class="w3-clear"></div>
                  <h4>My Jobs</h4>
                </a>
              </div>
            </div>
            <div class="w3-quarter">
              <div class="w3-container w3-teal w3-padding-16">
                <a href="../qr">
                  <div class="w3-left"><i class="fa fa-bolt w3-xxxlarge"></i></div>
                  <div class="w3-clear"></div>
                  <h4>QR Records</h4>
                </a>
              </div>
            </div>
            <div class="w3-quarter">
              <div class="w3-container w3-red w3-text-white w3-padding-16">
                <a href="../pickup">
                  <div class="w3-left"><i class="fa fa-map w3-xxxlarge"></i></div>
                  <div class="w3-clear"></div>
                  <h4>Pick-up</h4>
                </a>
              </div>
            </div>
            <div class="w3-quarter">
              <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <a href="../equipLoc">
                  <div class="w3-left"><i class="fa fa-truck w3-xxxlarge"></i></div>
                  <div class="w3-clear"></div>
                  <h4>Eqipment</h4>
                </a>
              </div>
            </div>
          </div>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span>User Info</h3>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>Name</strong>: <%= user.local.firstName %>
                    </p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>