<% include partials/header_1 %>
<!-- QR -->

<header class="w3-container" style="padding-top: 20px;">
	<h4 class="text-center"><b><i class="fa fa-bolt"></i> Walkthrough Report</b></h4>
	<h6 class="text-center">(click on item for more detail)</h6>
</header>
<br>
<div class="col-md-12">
	<div class="row">
		<div class="content-box-large">
			<form id="tableID" action="/qr/view" method="POST">
		       	<div class="col-md-12">
  					<div class="panel-body">
  						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
							<thead>
								<th style="display: none;">ID</th>
								<th>Location</th>
								<th>Details</th>
								<th>Service Date</th>
							</thead>
							<tbody>
								<% qr.forEach(function(e){ %>
									<tr>
										<td style="display: none;"><%=e._id %></td>
										<td><%=e.qr1_location %></td>
										<td><%=e.qr1_details %></td>
										<td><%=e.qr1_date %></td>
									</tr>
								<% }) %>
							</tbody>
						</table>
						<textarea style="display: none;" id="t_id" name="editID">test</textarea>
						<div class="text-right" >
							<a href="../">
			          <button type="button"><i class="fa fa-plus"></i>Update Service Info</button>
			        </a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="../vendors/datatables/js/rowHandlers.js"></script>
<% include partials/footer %>